{% extends 'base.html' %}
{% block head %}
<title>CONFIRMATION</title> 
{% endblock %}
{% block body %}
<h1>ESAARI</h1>
<div class="wrapper">
    <h2>Your Passenger(s): KRIZZOC</h2>
    <h2>Ride Sharing is Enabled.</h2>
    <h2>Pickup Location: Suburayyaan street, Namalvarpettai </h2>
    <h2>Destination: Srinagar street, Poooinganagar,Trl</h2>
    <h2>Estimated Time to Destination: 36 min</h2>
    <h2>Earnings: RS.324.98</h2>
    
</div>
<script type="text/javascript">
  alert("Your account has been credited: RS.224.98");
</script>

  {% endblock %}